@import "colors.css";

body {
    margin: 0;
    background: rgb(20,25,28);
    background: linear-gradient(127deg, rgba(20,25,28,1) 0%, rgba(33,53,62,1) 90%);
    color: var(--white);
    height: 100%;
}

.parallax {
    position: relative;
    perspective: 1px;
    /*height: 100vh;*/
    overflow: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
}


a:visited {
    color: inherit;
    text-decoration: none;
}

/* Header */

.header-strip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    color: var(--main) !important;
    background-color: var(--accent);
    font-style: normal;
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    border-radius: 22px;
    border: 0;
    cursor: pointer;
}

#login-button {
    color: var(--main);

    border: 1px solid #DAFF9D;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6), 0px 0px 10px 7px rgba(172,242,57,0.7);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6), 0px 0px 10px 7px rgba(172,242,57,0.7);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6), 0px 0px 10px 7px rgba(172,242,57,0.7);
    border-radius: 30px;

    margin-left: 0.4rem;
}

.links {
    display: flex;
    gap: 0.5rem;
    color: var(--accent);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Rubik, sans-serif;
    font-style: italic;
    font-weight: 300;
    align-items: center;
}

.links > a {
    vertical-align: middle;
}

header {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

.header-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Fira Mono", monospace;
    margin: 4rem 1rem;
}

.header-promo > a {
    background-color: var(--accent);
    color: var(--main);
    padding: 1rem;
    border: 1px solid #DAFF9D;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6), 0px 0px 20px 7px rgba(172,242,57,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6), 0px 0px 20px 7px rgba(172,242,57,1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6), 0px 0px 20px 7px rgba(172,242,57,1);
    border-radius: 30px;
    font-weight: 700;
    /*margin-bottom: 2.5rem;*/
}

h2, h3, h4 {
    color: var(--accent);
    font-weight: 700;
    font-size: 2rem;
    font-family: "Fira Mono", monospace;
}

h5, h6 {
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
}

h1 {
    font-weight: 500;
    font-size: 3.5rem;
    margin: 0;
}

h1 > b {
    color: var(--accent);
    font-weight: 700;
}

main {
    font-family: Rubik, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 3rem;

}

.parallax-page {
    perspective: 1px;
    /*height: 100vh;*/
    overflow-y: auto;
}

.background-layer {
    position: absolute;
    inset: 0;
}

.background-layer > img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Courses carousel */

.courses-carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    background: rgba(255, 255, 255, 0.23);
    /*background: rgb(255,255,255);*/
    background: linear-gradient(60deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 100%);
    /*border: 1px solid #5D5D5D;*/
    border-radius: 22px;

    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.23);

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);

    padding: 1rem;
}

.course-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.course-text {
    display: flex;
    flex-direction: row;
    /*flex-grow: 10;*/
    counter-increment: gallery-cell;
    justify-content: space-between;
    align-items: flex-end;
}

.course-text > i {
    text-align: right;
}

.progress-bar-background {
    width: 100%;
    height: 0.6rem;
    border: 1px solid var(--accent);
    border-radius: 10px;
}

.progress-bar-foreground {
    height: inherit;
    border-radius: inherit;
    background-color: var(--accent);
}

.progress-bar-percentage {
    font-weight: 300;
    color: var(--subcolor);
    font-size: 0.9rem;
    margin: 0;
}