@import "colors.css";

body {
    margin: 0;
    color: var(--white);
    background-color: var(--main);
}

/* Header */

.header-strip {
    display: flex;
    flex-direction: row;

}

.links {
    display: flex;
    gap: 0.5rem;
    color: var(--accent);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Rubik, sans-serif;
    font-style: italic;
    font-weight: 300;
}

.lins > a {
    vertical-align: middle;
}

header {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
}

main {
    display: flex;
    justify-content: center;
    margin: 0 3.5rem;
}

/* Courses carousel */

.courses-carousel {
    display: flex;
    flex-direction: row;
}

.course-card {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--accent);
}

.course-text {
    display: flex;
    flex-direction: column;
}