{% extends "index.html" %}

{% block content %}
    <main>
        <div class="courses-carousel">
            <div class="course-card">
                <span class="image-holder">
                    <img src="" alt="Картинка курса"/>
                </span>
                <h2 class="course-header">LOREM.</h2>
                <p class="course-text">Lorem ipsum, dolor sit amet some shit.</p>

                <span class="carousel-dots">

                </span>
            </div>
        </div>
    </main>
{% endblock %}